.header {  
  border-bottom: solid 1px var(--grey-2);
  padding: 1rem 1rem 4.8125rem; 
}

.header__title {
  font: 400 1.75rem/2.375rem 'Inter';
  margin: 0;
}

.header__logo {
  text-align: center;
  height: 2rem;
  margin-bottom: 3.0625rem;
}

@media screen and (min-width: 376px) {
  .header {
    padding: 1rem 0 4.8125rem;
  }

  .header__title {
    font: 500 3.125rem/4rem 'Inter';
  }

  .header__logo {
    text-align: left;
  }
}