.header {  
  border-bottom: solid 1px var(--grey-2);
  padding-top: 96px;
  padding-bottom: 77px;
}

.header__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin: 0;
}