.card {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 10.25rem;
  height: 13.125rem;
  padding: 0;
  background: var(--white);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 0.5rem;
}

.card__title {
  font: normal 400 1rem/1.5rem 'Inter';
  text-align: center;
  margin: 0 auto;
  padding: 0.625rem 0.5rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black);
}

/* Заглушка */
.card__preview  { 
  width: 10.25rem;
  height: 10.25rem;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
}

@media screen and (min-width: 376px) {
  .card {
    width: 21.875rem;
    height: 22.9375rem;
    padding: 2rem 1.5625rem;
    border-radius: 0.75rem;
  }

  .card__title {
    font: normal 500 1.3125rem/1.5625rem 'Roboto';
    padding: 0;
  }

  /* Заглушка */
  .card__preview {
    width: 18.75rem;
    height: 9.8125rem;
    box-shadow: none;
  }
}