.accordion__item {
  width: 730px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 32px;
  padding-top: 24px;
  margin-bottom: 8px;
  box-sizing: border-box;
  line-height: 1.5;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  display: block;
  cursor: pointer;
}

.accordion__summary::marker,
.accordion__summary::-webkit-details-marker {
  display: none;
  font-size: 0;
}

.accordion__content {
  color: var(--grey-4);
}