.checkbox {
  display: inline-block;
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox__control {
  width: 52px;
  height: 28px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
}

.checkbox__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.checkbox__icon {
  width: 24px;
  height: 24px;
  background: var(--grey-2);
  border-radius: 16px;
  position: absolute;
  top: 50%;
  transform: translate(2px, -50%);
}

.checkbox__label {
  font: normal 400 16px/24px 'Inter';
  color: var(--grey-4);
}

.checkbox__input:checked~.checkbox__state .checkbox__control {
  background: var(--blue);
  border-color: var(--blue);
}

.checkbox__input:checked~.checkbox__state .checkbox__icon {
  transform: translate(100%, -50%);
  background: var(--white);
}

.checkbox__input:focus~.checkbox__state .checkbox__label {
  text-decoration: underline;
}

.checkbox__input:disabled~.checkbox__state .checkbox__control {
  background: var(--grey-2);
}

.checkbox__input:disabled~.checkbox__state .checkbox__icon {
  background: var(--grey-3);
}