.toggler {
  display: inline-block;
}

.toggler__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.toggler__control {
  width: 52px;
  height: 28px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
}

.toggler__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.toggler__icon {
  width: 24px;
  height: 24px;
  background: var(--grey-2);
  border-radius: 16px;
  position: absolute;
  top: 1px;
  transform: translateX(2px);
}

.toggler__label {
  font: normal 400 16px/24px 'Inter';
  color: var(--grey-4);
}

.toggler__input:checked~.toggler__state .toggler__control {
  background: var(--blue);
  border-color: var(--blue);
}

.toggler__input:checked~.toggler__state .toggler__icon {
  transform: translateX(100%);
  background: var(--white);
}

.toggler__input:focus~.toggler__state .toggler__label {
  text-decoration: underline;
}

.toggler__input:disabled~.toggler__state .toggler__control {
  background: var(--grey-2);
}

.toggler__input:disabled~.toggler__state .toggler__icon {
  background: var(--grey-3);
}