.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.modal__wrapper {
  background: var(--white);
  border-radius: 8px;
  width: 428px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-sizing: border-box;
  padding: 28px 40px 33px;
}

.modal__title {
  font: normal 600 20px/24px 'Inter';
  color: #334D6E;
  margin-bottom: 14px;
}

.modal__close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modal__text {
  font: normal 400 16px/24px 'Inter';
  color: var(--grey-4);
}