<!DOCTYPE html>
<!-- Страница с кнопкой переключения -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./toggler.css">
    </head>
    <body>
        <label class="toggler">
            <input type="checkbox" class="toggler__input">
            <div class="toggler__state">
                <div class="toggler__control">
                    <div class="toggler__icon"></div>
                </div>
                <div class="toggler__label">Off/Onn</div>
            </div>            
        </label>
    </body>
</html>
