.radio {
  display: inline-block;
}

.radio__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.radio__control {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 14px;
  position: relative;
}

.radio__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.radio__icon {
  width: 18px;
  height: 18px;
  border-radius: 14px;
  position: absolute;
  background: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__label {
  font: normal 400 16px/24px 'Inter';
  color: var(--grey-4);
}

.radio__input:checked~.radio__state .radio__control {
  border-color: var(--blue);
}

.radio__input:checked~.radio__state .radio__icon {
  background: var(--blue);
}

.radio__input:focus~.radio__state .radio__label {
  text-decoration: underline;
}

.radio__input:disabled~.radio__state .radio__control {
  background: var(--grey-2);
}

.radio__input:disabled~.radio__state .radio__icon {
  background: var(---grey-2);
}