.skeleton {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  width: 579px;
  padding: 24px 40px 32px 24px;
  box-sizing: border-box;
}

.skeleton__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.skeleton__logo {
  width: 64px;
  height: 64px;
  background: var(--grey-2);
  border-radius: 50%;
  margin-right: 16px;
}

.skeleton__lines {
  display: flex;  
  flex-flow: column;
  flex: 1;
  width: 100%;
}

.skeleton__line {
  height: 20px;
  margin-bottom: 8px;
  background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__line:last-child {
  margin-bottom: 0;
}

.skeleton__title {
  width: 33%;
}

.skeleton__subTitle {
  width: 50%;
}