body {
  text-align: center;
  padding-top: 60px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__helper {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  color: var(--grey-2);
  background: var(--blue);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 13px 21px 8px;
  white-space: nowrap;
  font: normal 400 16px/24px 'Inter';
  text-align: center;
}

.tooltip__helper::before {
  content: "";
  border: solid 10px transparent;
  border-top: solid 10px var(--blue);
  position: absolute;  
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__trigger {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.tooltip__trigger:hover ~ .tooltip__helper {
  display: block;
}