.footer {
  display: none;
  text-align: center;
  border-top: solid 1px var(--grey-2);
  padding-top: 10rem;
  padding-bottom: 8.5rem;
}

.footer__title {
  font: normal 3rem 'Inter';
  margin: 0;
  padding-bottom: 2rem;
}

.footer__text {
  font-family: 'Inter';
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
}

@media screen and (min-width: 376px) {
  .footer {
    display: block;
  }
}