<!DOCTYPE html>
<!-- Страница с аккордеоном -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./accordion.css">
    </head>
    <body>
        <section class="accordion">
            <details class="accordion__item">
                <summary class="accordion__summary">
                    Accordion item 1
                    <svg class="accordion__arrow">
                        <use href="../../assets/images/icons.svg#arrow"></use>
                    </svg>
                </summary>                
                <p class="accordion__content">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__summary">
                    Accordion item 2
                    <svg class="accordion__arrow">
                        <use href="../../assets/images/icons.svg#arrow"></use>
                    </svg>
                </summary>
                <p class="accordion__content">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </details>
            <details class="accordion__item">
                <summary class="accordion__summary">
                    Accordion item 3
                    <svg class="accordion__arrow">
                        <use href="../../assets/images/icons.svg#arrow"></use>
                    </svg>
                </summary>
                <p class="accordion__content">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </details>
        </section>
    </body>
</html>
