<!DOCTYPE html>
<!-- Страница радио -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./radio.css">
    </head>
    <body>
        <label class="radio">
            <input type="radio" class="radio__input" name="radio" value="1">
            <div class="radio__state">
                <div class="radio__control">
                    <div class="radio__icon"></div>
                </div>
                <div class="radio__label">radio 1</div>
            </div>            
        </label>
        <label class="radio">
            <input type="radio" class="radio__input" name="radio" value="2">
            <div class="radio__state">
                <div class="radio__control">
                    <div class="radio__icon"></div>
                </div>
                <div class="radio__label">radio 2</div>
            </div>            
        </label>
        <label class="radio">
            <input type="radio" class="radio__input" name="radio" value="3" disabled>
            <div class="radio__state">
                <div class="radio__control">
                    <div class="radio__icon"></div>
                </div>
                <div class="radio__label">radio 3</div>
            </div>            
        </label>
    </body>
</html>
