.body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./public/forest_400.jpg);
}

@media (min-width: 401px) {
  .body {
    background-image: url(./public/forest_768.jpg);
  }
}

@media (min-width: 769px) {
  .body {
    background-image: url(./public/forest_1024.jpg);
  }
}

@media (min-width: 1025px) {
  .body {
    background-image: url(./public/forest_2560.jpg);
  }
}