.body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 400px) {
  .body {
    background-image: url(./public/forest_768.jpg);
  }
}

@media (min-width: 401px) and (max-width: 768px) {
  .body {
    background-image: url(./public/forest_768.jpg);
  }
}

@media (min-width: 469px) and (max-width: 1024px) {
  .body {
    background-image: url(./public/forest_1024.jpg);
  }
}

@media (min-width: 1025px) {
  .body {
    background-image: url(./public/forest_2560.jpg);
  }
}