.menu {
  display: none;
}

@media screen and (min-width: 376px) {
  .menu {
    display: block;
    width: 14.3125rem;
  }
  
  .menu__title {
    font: normal 400 1.25rem/1.5625rem 'Inter';
    padding-bottom: 1rem;
  }
  
  .menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .menu__item {
    font: normal 400 .875rem/1.375rem 'Inter';
    padding-bottom: .25rem;
  }
  
  .menu__link {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
  }
  
  .menu__link:hover {
    text-decoration: underline;
  }
  
  .menu__link_active {
    color: #D84910;
  }
  
  .menu__link_active:hover {
    text-decoration: none;
  }
  
  .menu__link_home {
    margin-top: 1.875rem;
  }
}