.preview {
  background-color: var(--grey-5);
  padding-top: 1.375rem;
  padding-bottom: 12.75rem; 
}

.preview__inner {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-flow: wrap;
}


@media screen and (min-width: 376px) {
  .preview {
    padding-top: 4.25rem;
  }

  .preview__inner {
    gap: 1.875rem;
  }
}